nav{
    max-width:960px;
    margin:0 outo;
    padding:7px 0;
    margin-right:0%;
    }
    nav > ul{
    text-align:right;
    }
    nav>ul>li{
    display:inline-block;
    }
    nav>ul>li>a{
    text-transform:uppercase;
    text-decoration:underline;
    display:block;
    color:blue
    }
    
     h1{ 
     text-align:center; 
     font-style:italic;
     font-size:60px;
     padding:30px;
     
    }
    table tr,th,td{
        padding:20px;
        border:3px solid blue;
        }
        #photo{
            text-align:center;
            padding:20px;
            
        }
        html{
            background-color: khaki;
        }
#footer{
    font-size:20px;
      color:burlywood;  
}